In [ ]:
import pandas as pd
import numpy as np
#train_X = np.load("/content/drive/Shareddrives/Trustworthiness/MIMIC III/data/in-hospital-mortality/train_X.npy")
%cd /content/drive/Shareddrives/Trustworthiness/MIMIC III/data/in-hospital-mortality/train

/content/drive/Shareddrives/Trustworthiness/MIMIC III/data/in-hospital-mortality/train

In [ ]:
import os
pathName = os.getcwd()

numFiles = []
fileNames = os.listdir(pathName)
len(fileNames)

17904

In [ ]:
seed = '5482_episode1_timeseries.csv'
# seed = '6003_episode1_timeseries.csv'
#seed = '6552_episode2_timeseries.csv'
# seed = '12605_episode1_timeseries.csv'
# seed = '15645_episode1_timeseries.csv'

x = pd.read_csv(seed)
x['Glascow coma scale eye opening'] = x['Glascow coma scale eye opening'].map(GCS_eye)
x['Glascow coma scale motor response'] = x['Glascow coma scale motor response'].map(GCS_motor)
x['Glascow coma scale verbal response'] = x['Glascow coma scale verbal response'].map(GCS_speech)

data_point_stats = pd.DataFrame(
    dict(
        {'Attribute': list(x.mean().to_dict().keys()),
            'Mean': list(x.mean().to_dict().values()),
         "SD": list(x.std().to_dict().values())
         }))

data_point_stats.to_csv('../seeds/' + seed[:-4] + "stats.csv")

data_point_stats

                             Attribute        Mean         SD
0                                Hours   22.931101  14.234670
1                Capillary refill rate         NaN        NaN
2             Diastolic blood pressure   55.395349   8.266800
3             Fraction inspired oxygen         NaN        NaN
4       Glascow coma scale eye opening    4.000000   0.000000
5    Glascow coma scale motor response    6.000000   0.000000
6             Glascow coma scale total   15.000000   0.000000
7   Glascow coma scale verbal response    5.000000   0.000000
8                              Glucose  118.750000  13.841363
9                           Heart Rate   74.270833   8.289290
10                              Height         NaN        NaN
11                 Mean blood pressure   73.147288   5.691033
12                   Oxygen saturation   96.714286   1.683251
13                    Respiratory rate   15.333333   3.872068
14             Systolic blood pressure  108.000000   8.909599
15                         Temperature   37.384616   0.369531
16                              Weight  113.000000        NaN
17                                  pH    7.076667   0.499633

In [ ]:
x = pd.read_csv(fileNames[0])
x['Glascow coma scale eye opening'] = x['Glascow coma scale eye opening'].map(GCS_eye)
x['Glascow coma scale motor response'] = x['Glascow coma scale motor response'].map(GCS_motor)
x['Glascow coma scale verbal response'] = x['Glascow coma scale verbal response'].map(GCS_speech)
x.mean()

Hours                                  23.802401
Capillary refill rate                        NaN
Diastolic blood pressure               64.628571
Fraction inspired oxygen                0.500000
Glascow coma scale eye opening          4.000000
Glascow coma scale motor response       6.000000
Glascow coma scale total                     NaN
Glascow coma scale verbal response      4.777778
Glucose                                76.000000
Heart Rate                            100.648649
Height                                       NaN
Mean blood pressure                    75.971429
Oxygen saturation                      96.135135
Respiratory rate                       19.567568
Systolic blood pressure               114.657143
Temperature                            36.592593
Weight                                 44.850000
pH                                           NaN
dtype: float64

In [ ]:
x = pd.read_csv('5482_episode1_timeseries.csv')
x['Glascow coma scale eye opening'] = x['Glascow coma scale eye opening'].map(GCS_eye)
x['Glascow coma scale motor response'] = x['Glascow coma scale motor response'].map(GCS_motor)
x['Glascow coma scale verbal response'] = x['Glascow coma scale verbal response'].map(GCS_speech)
x.mean()

Hours                                  22.931101
Capillary refill rate                        NaN
Diastolic blood pressure               55.395349
Fraction inspired oxygen                     NaN
Glascow coma scale eye opening          4.000000
Glascow coma scale motor response       6.000000
Glascow coma scale total               15.000000
Glascow coma scale verbal response      5.000000
Glucose                               118.750000
Heart Rate                             74.270833
Height                                       NaN
Mean blood pressure                    73.147288
Oxygen saturation                      96.714286
Respiratory rate                       15.333333
Systolic blood pressure               108.000000
Temperature                            37.384616
Weight                                113.000000
pH                                      7.076667
dtype: float64

In [ ]:
GCS_motor =  {
  "1 No Response": 1,
  "No response": 1,
  "2 Abnorm extensn": 2,
  "Abnormal extension": 2,
  "3 Abnorm flexion": 3,
  "Abnormal Flexion": 3,
  "4 Flex-withdraws": 4,
  "Flex-withdraws": 4,
  "5 Localizes Pain": 5,
  "Localizes Pain": 5,
  "6 Obeys Commands": 6,
  "Obeys Commands": 6
}


GCS_eye = {
  "None": 0,
  "1 No Response": 1,
  "2 To pain": 2,
  "To Pain": 2,
  "3 To speech": 3,
  "To Speech": 3,
  "4 Spontaneously": 4,
  "Spontaneously": 4
}


GCS_speech = {
  "No Response-ETT": 1,
  "No Response": 1,
  "1 No Response": 1,
  "1.0 ET/Trach": 1,
  "2 Incomp sounds": 2,
  "Incomprehensible sounds": 2,
  "3 Inapprop words": 3,
  "Inappropriate Words": 3,
  "4 Confused": 4,
  "Confused": 4,
  "5 Oriented": 5,
  "Oriented": 5
}

In [ ]:
x['Glascow coma scale eye opening'] = x['Glascow coma scale eye opening'].map(GCS_eye)
x['Glascow coma scale motor response'] = x['Glascow coma scale motor response'].map(GCS_motor)
x['Glascow coma scale verbal response'] = x['Glascow coma scale verbal response'].map(GCS_speech)
x

,Hours,Capillary refill rate,Diastolic blood pressure,Fraction inspired oxygen,Glascow coma scale eye opening,Glascow coma scale motor response,Glascow coma scale total,Glascow coma scale verbal response,Glucose,Heart Rate,Height,Mean blood pressure,Oxygen saturation,Respiratory rate,Systolic blood pressure,Temperature,Weight,pH
0,0.367222,0.0,64.0,NaN,4.0,6.0,15.0,5.0,NaN,56.0,NaN,94.0,97.0,15.0,151.0,NaN,NaN,NaN
1,0.617222,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,54.0,NaN,98.0,98.0,15.0,138.0,NaN,NaN,NaN
2,0.867222,NaN,49.0,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,95.0,98.0,13.0,141.0,36.277802,NaN,NaN
3,1.117222,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,53.0,NaN,90.0,98.0,12.0,133.0,NaN,NaN,NaN
4,1.133889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,43.867222,NaN,56.0,NaN,NaN,NaN,NaN,NaN,NaN,68.0,NaN,87.0,97.0,15.0,113.0,NaN,NaN,NaN
71,44.867222,0.0,56.0,NaN,4.0,6.0,15.0,5.0,NaN,69.0,NaN,85.0,99.0,15.0,108.0,36.388901,NaN,NaN
72,45.867222,NaN,58.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,88.0,98.0,14.0,118.0,NaN,NaN,NaN
73,46.867222,0.0,56.0,NaN,4.0,6.0,15.0,5.0,NaN,58.0,NaN,85.0,98.0,10.0,113.0,NaN,NaN,NaN
74,47.867222,NaN,54.0,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,82.0,97.0,13.0,108.0,NaN,NaN,NaN

In [ ]:
x.mean()

<ipython-input-32-6f9184126d05>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  x.mean()

Hours                        19.888333
Capillary refill rate              NaN
Diastolic blood pressure     55.769231
Fraction inspired oxygen           NaN
Glascow coma scale total     15.000000
Glucose                      97.000000
Heart Rate                   66.902439
Height                             NaN
Mean blood pressure          72.641031
Oxygen saturation            98.512195
Respiratory rate             17.073171
Systolic blood pressure     106.384615
Temperature                  37.407423
Weight                       74.400002
pH                                 NaN
dtype: float64

In [ ]:
x.std()

Hours                                 14.234670
Capillary refill rate                       NaN
Diastolic blood pressure               8.266800
Fraction inspired oxygen                    NaN
Glascow coma scale eye opening         0.000000
Glascow coma scale motor response      0.000000
Glascow coma scale total               0.000000
Glascow coma scale verbal response     0.000000
Glucose                               13.841363
Heart Rate                             8.289290
Height                                      NaN
Mean blood pressure                    5.691033
Oxygen saturation                      1.683251
Respiratory rate                       3.872068
Systolic blood pressure                8.909599
Temperature                            0.369531
Weight                                      NaN
pH                                     0.499633
dtype: float64

In [ ]:
data_point_stats = pd.DataFrame(
    dict(
        {'Attribute': list(x.mean().to_dict().keys()),
            'Mean': list(x.mean().to_dict().values()),
         "SD": list(x.std().to_dict().values())
         }))

data_point_stats.to_csv('../seeds/6003_episode1_timeseries_stats.csv')

data_point_stats

<ipython-input-31-958c15d7d31b>:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  {'Attribute': list(x.mean().to_dict().keys()),
<ipython-input-31-958c15d7d31b>:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  'Mean': list(x.mean().to_dict().values()),
<ipython-input-31-958c15d7d31b>:5: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  "SD": list(x.std().to_dict().values())

                   Attribute        Mean         SD
0                      Hours   19.888333  13.287936
1      Capillary refill rate         NaN        NaN
2   Diastolic blood pressure   55.769231   4.292390
3   Fraction inspired oxygen         NaN        NaN
4   Glascow coma scale total   15.000000   0.000000
5                    Glucose   97.000000   8.185353
6                 Heart Rate   66.902439   6.216128
7                     Height         NaN        NaN
8        Mean blood pressure   72.641031   4.625469
9          Oxygen saturation   98.512195   2.013976
10          Respiratory rate   17.073171   2.114122
11   Systolic blood pressure  106.384615   6.542641
12               Temperature   37.407423   0.268362
13                    Weight   74.400002        NaN
14                        pH         NaN        NaN